*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
html,body
{
    width: 100%;
    height: 100%;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}


body::before
 {
        content: ' ';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("https://images.unsplash.com/photo-1543522933-b4894203e509?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
        background-size: cover;
        background-position: bottom;
        z-index: -1;
 }      
 .card
 {
     position: relative;
     max-width: 26.5em;
     margin: 2rem auto;
    padding: 2em;
    background: #fff;
 }
 .card__title {
    margin: 0 auto 1em;
    color: #333;
    text-align: center;
    text-transform: capitalize;
  }
  .card__img {
    display: block;
    width: 20em;
    /* max-width: 100%; */
    margin: 0 auto;
    border-radius: 2px;
  }

  .card__text {
    margin: 2em 5%;
    color: #646464;
  }
  .card__btn {
    display: table;
    padding: .7em 4em;
    background: #ddba76;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em auto 0;
  }
  


  .card--12 {
    --mouseX12: 0;
    --mouseY12: 0;
    perspective: 700px;
  }
  
  .card--12 .card__title 
  {
     transform: translate3d(calc(var(--mouseY12) * 1px), calc(var(--mouseX12) * 1px), 0);
  }
  .card--12 .card__img
  {
    transform: translate3d(calc(var(--mouseY12) * 1px), calc(var(--mouseX12) * -1px), calc(var(--mouseY12) * 1px));
  }
  .card--12 .card__text {
     transform: translate3d(calc(var(--mouseY12) * -1px), calc(var(--mouseX12) * -1px), 0);
  }
  .card--12 .card__btn {
    transform: translate3d(calc(var(--mouseX12) * -1px), calc(var(--mouseY12) * -1px), calc(var(--mouseX12) * -1px));
  }
  